<h3>Categories</h3>
<div id="blog-categories">
  <ul class="list-group2">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
    <li class="list-group-item2">
    <a href="{{ site.url }}/categories/{{ category[0] }}"><span class="octicon octicon-file-directory"></span> {{ category | first }}</a> <span id="nums">({{ category[1].size }})</span>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $("#blog-categories li").css('text-transform','capitalize')
  });

</script>

