---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                

                <section class="container posts-content">
                <ol class="posts-list" id="{{ category[0] }}">
                {% for post in site.posts %}
                  {% for category in post.categories %}
                    {% if category == page.category %}
                    <li class="posts-list-item">
                      <span class="posts-list-meta">{{ post.date | date:"%Y-%m-%d" }}</span>
                      <a class="posts-list-name" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                </ol>
                </section>


            </article>
            <div class="share">
                <!--{% include sns-share.html %}-->
            </div>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
            {% include sidebar-search.html %}
            {% include new-sidebar-tags-nav.html %}
            {% include sidebar-categories-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
